body {
    box-sizing: border-box;

}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    border: none;
    cursor: pointer;

}

.conteiner {
    max-width: 1200px;
    margin: 0 auto;

}

.wrapper {
    min-height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}