.game-wrapper {
   background-color: rgb(3, 3, 58);

}

.life-line-img {
   width: 150px;
   height: 150px;


}

.life-line-item {
   cursor: pointer;
}

.life-line-list {
   display: flex;
   flex-direction: column;
   max-width: 200px;
   justify-content: center;
   align-items: center;
   width: 100%;
   gap: 40px;
   min-height: 100vh;
}

.life-line-block {
   cursor: not-allowed;
   opacity: 60%;

}

.wrapper-game {
   display: flex;
   justify-content: space-between;



}

.score-list {
   background-color: rgb(10, 10, 116);
   border-radius: 10px;
   padding: 15px;
   min-height: 70vh;
   max-width: 200px;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 7px;
   margin-top: 10px;
   border: solid 3px bisque;

}

.score-item {
   font-size: 16px;
   font-weight: bold;
   padding: 10px;
   min-width: 100px;
   border-radius: 5px;
   background-color: bisque;
   border: 1px solid black;
   text-align: center;
}

.score-item-active {
   background-color: rgb(244, 172, 72);
   font-size: 22px;
   font-weight: bold;
   padding: 5px;
   min-width: 100px;
   border-radius: 5px;
   border: 3px solid black;
   text-align: center;
}

#root {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   gap: 40px;
   align-items: center;
   justify-content: center;
   max-width: 800px;
   width: 100%;
}

.question {
   display: flex;
   flex-direction: column;
   gap: 20px;
   padding: 20px;
   max-width: 700px;
   cursor: pointer;

}

.question-item {
   background-color: rgb(18, 18, 132);
   color: #fff;
   padding: 20px;
   text-align: center;
   cursor: pointer;
   border-radius: 20px;
}

.question-list {
   padding: 10px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 20px;
   font-size: 20px;



}

.block {
   cursor: not-allowed;

}

.win {
   background-color: red;

}

.question h2 {
   background-color: rgb(18, 18, 132);
   color: #fff;
   padding: 25px;
   text-align: center;
   font-size: 25px;
   border-radius: 15px;
}

#timer {
   color: #fff;
   font-size: 30px;
   font-weight: bold;
   height: 50px;
   text-align: center;

}